/***********************************************\
* LOADING/LOGIN
\***********************************************/
* {
	margin: 0;
	padding: 0;
	font-size: 1em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#login-screen {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #62D059;
}

#spinner {
	position: relative;
	width: 30px;
	height: 30px;
	background-color: #FFFFFF;
	margin: auto;
	top: 25%;
	-webkit-animation: rotateplane 1.2s infinite ease-in-out;
	animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
	0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
	}
	50% { 
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
	}
	100% { 
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

#login-form {
	display: none;
	position: absolute;
	top: 100px;
	width: 100%;
	padding: 0 10%;
}

#login-form input {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 4%;
	background: rgba(255, 255, 255, 0.75);
	border: 1px solid rgba(255, 255, 255, 0.9);
	border-radius: 4px;
	font-size: 1.4em;
}

/***********************************************\
* GAME BOARD
\***********************************************/
#game-board {
	position: absolute;
	height: calc(100% - 5em);
	width: 140vh;
	margin: 0 calc(50vw - 70vh);
	text-align: center;
}

.row {
	display: block;
	height: 33%;
	width: 100%;
}

.face {
	float: left;
	position: relative;
	display: inline-block;
	height: calc(100% - 20px);
	width: calc(12.5% - 20px);
	margin: 10px;
	background: url('../img/standard.jpg') top left no-repeat;
	background-size: 800% 300%;
	cursor: pointer;
}

.face:hover {
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
}

#sam { background-position: 0 0; }
#joe { background-position: 14.286% 0%; }
#paul { background-position: 28.571% 0px; }
#george { background-position: 42.857% 0px; }
#phillip { background-position: 57.143% 0px; }
#claire { background-position: 71.428% 0px; }
#anita { background-position: 85.714% 0px; }
#alfred { background-position: 100% 0px; }

#frans { background-position: 0 50%; }
#richard { background-position: 14.286% 50%; }
#susan { background-position: 28.571%  50%; }
#max { background-position: 42.857%  50%; }
#herman { background-position: 57.143%  50%; }
#david { background-position: 71.428%  50%; }
#bernard { background-position: 85.714%  50%; }
#alex { background-position: 100%  50%; }

#thomas { background-position: 0 100%; }
#robert { background-position: 14.286% 100%; }
#peter { background-position: 28.571% 100%; }
#marie { background-position: 42.857% 100%; }
#bill { background-position: 57.143% 100%; }
#eric { background-position: 71.428% 100%; }
#carl { background-position: 85.714% 100%; }
#anna { background-position: 100% 100%; }

#input {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 20px 10px;
	background: #62D059;
	text-align: center;
}

#question {
	width: 80%;
	padding: 5px;
	font-size: 1.2em;
}

#input button {
	width: 5%;
	margin-left: 1%;
	font-size: 1.2em;
}

button.disabled {
	opacity: 0.25;
	cursor: disabled;
}